<mat-card class="product-card mat-elevation-z3">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-content>
        <p>{{ product.description }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Details</button>
        <a
            mat-raised-button
            [routerLink]="['/products', product.id, 'edit']"
            routerLinkActive="router-link-active"
            ><mat-icon>edit</mat-icon></a
        >
    </mat-card-actions>
</mat-card>
